---
import { Image } from 'astro:assets'

interface Props {
    title: string
    url: string
    cover: string
    description: string
}

const { title, url, cover, description } = Astro.props
---

<a href={url} class="card w-96 bg-base-100 border shadow-xl transition-transform duration-300 hover:scale-105">
    <figure>
        <Image src={cover} alt={title} width={1000} height={750} loading="eager" />
    </figure>
    
    <div class="card-body">
        <h2 class="card-title">{title}</h2>
        <p>{description}</p>
    </div>
</a>
